<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>这是测试 GitHub 分支  而特意加的</h2>
    <p>Welcome to <%= title %></p>
  </body>
</html>
